---
import Layout from '@layouts/indexLayout.astro';
import Card from '@components/Card.astro';
---

<Layout title="Nordic Game Lab LLC">
    	<!-- Section: intro -->
    	<section id="intro" class="intro">
        	<div class="slogan">
            	<h2>WELCOME TO <span class="text_color">nordic game lab&nbsp;</span> </h2>
            	<h4>WE ARE GROUP OF GENTLEMEN MAKING SOFTWARE WITH BOOTSTRAP</h4>
        	</div>
        	<div class="page-scroll">
            	<a href="#service" class="btn btn-circle">
                	<i class="fa fa-angle-double-down animated"></i>
            	</a>
        	</div>
    	</section>
    	<!-- /Section: intro -->

		<!-- Section: -->
		<section>
			<div id="hire-us" class="text-center">
				<h2>Elevate Your Business with Custom Software Solutions </h2>
				<div>
					<p>At Nordic Game Lab, we understand that each business has unique challenges and opportunities. That’s why we are dedicated to providing tailor-made software solutions that not only address your specific needs but also help you achieve your long-term goals. </p>
					<h3>Why Choose Us for Your Software Development Needs?</h3>
					<Card title="1. Tailor-Made Solutions" body="Our personalized software development process begins with a deep dive into your business requirements. We believe that the best solutions come from understanding your goals, allowing us to create customized applications that align perfectly with your vision. Whether you need an intuitive HR platform or a sophisticated customer management system, our team is here to craft a solution just for you. "></Card>
					<Card title="2. Commitment to Innovation" body="The tech landscape is constantly evolving, and so are we. By embracing new technologies and best practices, we ensure our software solutions are not just current but also pioneering in their functionality. Our innovative approach empowers your business to stay ahead in a competitive market. "></Card>
					<Card title="3. Quality Assurance" body="We pride ourselves on our rigorous quality assurance standards. Every piece of software we develop undergoes thorough testing to ensure it is reliable, efficient and performs exceptionally in real-world scenarios. Your trust is paramount, and we strive to build lasting relationships through excellence in every project."></Card>
					<Card title="4. Affordability" body="Quality doesn’t have to come at a premium. At Nordic Game Lab, we believe that robust software solutions should be accessible to businesses of all sizes. Our focus on delivering high-quality development at competitive prices ensures that you get value for your investment without compromising on performance. "></Card>
					<Card title="5. Client-Centric Values" body="We place our clients at the center of everything we do. Our collaborative approach means we listen carefully to your ideas and feedback, ensuring that the final product is a true reflection of your vision. We believe that your success is our success, and we are committed to fostering a long-term partnership that drives mutual growth."></Card>
				</div>
				<div>
					<h3>Let’s Build Your Future Together Are you ready to transform your business with bespoke software solutions?</h3>
					<p> At Nordic Game Lab, we are more than just a service provider—we are your partners in innovation. </p>
				</div>
				<div>
					<h2>Hire Us!</h2>
					<p>If you want to take the first step towards building powerful software tailored to your business needs, we invite you to reach out today. Our dedicated team is eager to understand your goals and create solutions that enable you to thrive in today’s fast-paced environment. Don’t wait any longer—your journey toward operational excellence starts with Nordic Game Lab. </p>
				</div>
			</div>
		 </section>
		<!-- /Section: -->

		<!-- Section: founder-->
		<section id="leadership" class="text-center">
			<div class="row">
				<div class="column">
					<div class="card">
						<div style="overflow: hidden;" class="container">
					  		<h2>Andrew Ball</h2>
					  		<p class="title">CEO &amp; Founder</p>
					  		<p>As a software developer, I observed that existing software prices were not aligned with my expectations. Consequently, I established my own company with the goal of developing more cost-effective software solutions.</p>
							<address>andrew@nordicgamelab.org</address>
					  		<p><button class="button" onclick="contact_founder()">Learn More</button></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Section: founder-->

		<!-- Section: contact -->
		<section id="contact" class="home-section text-center">
			<div class="heading-contact">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="section-heading">
								<h2>Get in touch</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-lg-offset-5">
						<hr class="marginbot-50">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="boxed-grey">
							<div style="display: none;" id="thankYouMessage">
								<h1>Thank You!</h1>
								<p>Want to create a form like this?</p>
								<p>well you can't, because this is a custom system</p>
							</div>
							<form id="contact-form" method="POST">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="name">Name</label>
											<input type="text" class="form-control" id="name" placeholder="Enter name" required="required" name="name">
										</div>
										<div class="form-group">
											<label for="email">Email Address</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="fa fa-envelope"></span></span>
												<input type="email" class="form-control" id="email" placeholder="Enter email" required="required" name="email">
											</div>
										</div>
										<div class="form-group">
											<input name="marketing" class="form-check-input" type="checkbox" value="true" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">I agree to receive marketing communications</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="name">Message</label>
											<textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message" name="message"></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<button type="submit" class="btn btn-skin pull-right g-recaptcha" data-sitekey="6LcZYLMnAAAAAMGNxTxM3_boPVKGS6FGZ2hUSy_8" id="btnContactUs" data-callback="captchaSubmit">
											Send Message
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="widget-contact">
							<h5>Main Office</h5>
							<address>
								<strong>Nordic Game Lab LLC.</strong>
								<br><strong>Email</strong><br>
							</address>
							<a href="mailto:hello@nordicgamelab.org" id="">hello@nordicgamelab.org</a>	
							<address>
								<strong>We're on social networks</strong>
								<ul class="company-social companySocial">
									<li><a rel="me" href="https://mastodon.social/@nordic_game_lab"><img src="/images/mastodon-fill.png" width="40" height="40"></a></li>
									<li><a href="https://brandfetch.com/nordicgamelab.org"><img src="/images/brandfetch.png" width="40" height="40"></a></li>
								</ul>	
							</address>			
						</div>
					</div>
				</div>
			</div>
		</section>
	<script is:inline>
		function contact_founder() {
        	location.href = 'https://aball.nordicgamelab.org'
    	}

		async function captchaSubmit(data) {
        const form = document.getElementById("contact-form");
        const url = 'https://api.nordicgamelab.org/api/submit-form';
        const thankYouMessage = document.getElementById("thankYouMessage");
        try {
            const formData = new FormData(form);
            await postFormDataAsJson({ url, formData });
            form.style.display = "none";
            thankYouMessage.style.display = "block";
        } catch (error) {
            console.error(error);
        }
    }

    async function postFormDataAsJson({ url, formData }) {
        const plainFormData = Object.fromEntries(formData.entries());
        const formDataJsonString = JSON.stringify(plainFormData);

		const uname = plainFormData.name.split(' ');
		const uid = () => {
			const name = "ngl_user_id";
			const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
  			if (match) return match[2];
		}

		rudderanalytics.identify( uid() , {
			firstName: uname[0],
    		lastName: uname[1],
    		email: plainFormData.email
		});
		
        const fetchOptions = {
            method: "POST",
           
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            
            body: formDataJsonString
        };
    
        const response = await fetch(url, fetchOptions);
    
        if (!response.ok) {
            const errorMessage = await response.text();
            throw new Error(errorMessage);
        }
    
        return response.json();
    }
	</script>
</Layout>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "image": "https://static.nordicgamelab.org/nordic_game_lab_logos/logo_white_background.jpg",
      "url": "https://www.nordicgamelab.org",
      "logo": "https://static.nordicgamelab.org/nordic_game_lab_logos/logo_white_background.jpg",
      "name": "Nordic Game Lab",
      "description": "Nordic Game Lab LLC is a small software development company. Founded by Andrew Ball, a software developer who wanted to provide affordable software solutions, Nordic Game Lab aims to deliver high-quality web experiences using Bootstrap.",
      "contactPoint": {
        "contactType": "Customer Service",
        "email": "hello@nordicgamelab.org"
      },
      "foundingDate": "20200930T130000-0400",
      "numberOfEmployees": {
  		"@type": "QuantitativeValue",
  		"minValue": 1,
  		"maxValue": 10
      },
      "naics": "541511",
	  "sameAs": [
		"https://brandfetch.com/nordicgamelab.org",
      ]

    }
    </script>
