---
---

<footer>
    <!-- Footer main -->
    <section class="ft-main">
      <div class="ft-main-item">
        <h2 class="ft-title">Compnay</h2>
        <ul>
          <li><a href="https://www.nordicgamelab.org/about">About us</a></li>
          <li><a href="https://www.nordicgamelab.org/learnhub">Pricing</a></li>
          <li><a href="https://learnhub.nordicgamelab.org"> LearnHub</a></li>
          <li><a href="https://jobs.nordicgamelab.org">Careers</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Resources</h2>
        <ul>
          <li><a href="https://docs.nordicgamelab.org">Docs</a></li>
          <li><a href="https://blog.nordicgamelab.org">Blog</a></li>
          <li><a href="https://status.nordicgamelab.org">Status</a></li>
          <li><a href="https://static.nordicgamelab.org/sitemap.xml"> Sitemap </a></li>
          <li><a href="https://about.nordicgamelab.org/brandResources">Brand Resources</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Contact</h2>
        <ul>
          <li><a href="https://help.nordicgamelab.org">Help</a></li>
          <li><a href="https://about.nordicgamelab.org/sales">Sales</a></li>
          <li><a href="https://about.nordicgamelab.org/advertise">Advertise</a></li>
          <li><a href="https://about.nordicgamelab.org/press">Press</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Newsletter</h2>
          <form id="newsletterForm">
            <input type="email" id="email" placeholder="Enter email" name="email" required />
            <input type="submit" value="Sign Up">
          </form>
      </div>
    </section>
  
    <!-- Footer social -->
    <section class="ft-social">
      <ul class="ft-social-list">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://mastodon.social/@nordic_game_lab"><i class="bi bi-mastodon"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://github.com/nordic-game-lab"><i class="bi bi-github"></i></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/@nordic_game_lab"><i class="bi bi-youtube"></i></a></li>
      </ul>
    </section>
  
    <!-- Footer legal -->
    <section class="ft-legal">
      <ul class="ft-legal-list">
        <li><a href="https://ngl-corp.info/cAaDE?q=terms">Terms &amp; Conditions</a></li>
        <li><a href="https://ngl-corp.info/cAaDE?q=privacy">Privacy Policy</a></li>
        <li><a href="https://ngl-corp.info/1NbF"> 
            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14" xml:space="preserve" height="16" width="43">
                <title>Your Privacy Choices Opt-Out Icon</title>
                <path d="M7.4 12.8h6.8l3.1-11.6H7.4C4.2 1.2 1.6 3.8 1.6 7s2.6 5.8 5.8 5.8z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#fff"></path>
                <path d="M22.6 0H7.4c-3.9 0-7 3.1-7 7s3.1 7 7 7h15.2c3.9 0 7-3.1 7-7s-3.2-7-7-7zm-21 7c0-3.2 2.6-5.8 5.8-5.8h9.9l-3.1 11.6H7.4c-3.2 0-5.8-2.6-5.8-5.8z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#06f"></path>
                <path d="M24.6 4c.2.2.2.6 0 .8L22.5 7l2.2 2.2c.2.2.2.6 0 .8-.2.2-.6.2-.8 0l-2.2-2.2-2.2 2.2c-.2.2-.6.2-.8 0-.2-.2-.2-.6 0-.8L20.8 7l-2.2-2.2c-.2-.2-.2-.6 0-.8.2-.2.6-.2.8 0l2.2 2.2L23.8 4c.2-.2.6-.2.8 0z" style="fill:#fff"></path>
                <path d="M12.7 4.1c.2.2.3.6.1.8L8.6 9.8c-.1.1-.2.2-.3.2-.2.1-.5.1-.7-.1L5.4 7.7c-.2-.2-.2-.6 0-.8.2-.2.6-.2.8 0L8 8.6l3.8-4.5c.2-.2.6-.2.9 0z" style="fill:#06f"></path>
            </svg> 
        Your Privacy Choices</a></li>
        <li><a href="https://link.nordicgamelab.org/TSAG">CCPA request</a></li>
        <li>&copy; {new Date().getFullYear()} Nordic Game Lab, LLC. All rights reserved.</li>
      </ul>
    </section>
  </footer>


  <script is:inline>
    const newsletterForm = document.getElementById("newsletterForm");
		async function newsletterSubmit() {
        const form = document.getElementById("newsletterForm");
        const portalId = "23935283";
        const formId = "80d294ac-0c32-45db-b046-1bc9f37184b9";
        const url = `https://api.hsforms.com/submissions/v3/integration/submit/${portalId}/${formId}`;
        try {
            const formData = new FormData(form);
            await newsletterPost({ url, formData });
        } catch (error) {
            console.error(error);
        }
    }
    newsletterForm.addEventListener("submit", (event) => {
      event.preventDefault();
      newsletterSubmit();
    });

    async function newsletterPost({ url, formData }) {
        let plainFormData = Object.fromEntries(formData.entries());
        const uid = () => {
			    const name = "ngl_user_id";
			    const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
  			  if (match) return match[2];
		    }
        plainFormData.uid = uid();
        
        rudderanalytics.identify( uid() , {
    		  email: plainFormData.email
		    });
		    rudderanalytics.track( "Newsletter Signup");
        const fetchOptions = {
            method: "POST",
            headers: {
              'content-type': 'application/json',
            },
            body: {
              "fields": [
                {
                  "objectTypeId": "0-1", 
                  "name": "email", 
                  "value": plainFormData.email 
                }, 
                {
                  "objectTypeId": "0-1", 
                  "name": "ngl_uid", 
                  "values": plainFormData.uid 
                }
              ],
              "context": {
                "pageUri": window.location.href,
                "pageName": document.title
              }
            }
        };
        const response = await fetch(url, fetchOptions);
        if (!response.ok) {
            const errorMessage = await response.text();
            throw new Error(errorMessage);
        }
        return response.json();
    }
</script>


<style>/* Generic styling */
    * {
      box-sizing: border-box;
      font-family: "Lato", sans-serif;
      margin: 0;
      padding: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    footer {
      background-color: #555;
      color: #bbb;
      line-height: 1.5;
    }
    footer a {
      text-decoration: none;
      color: #eee;
    }
    a:hover {
      text-decoration: underline;
    }
    .ft-title {
      color: #fff;
      font-family: "Merriweather", serif;
      font-size: 1.375rem;
      padding-bottom: 0.625rem;
    }
    /* Sticks footer to bottom */
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    .container {
      flex: 1;
    }
    /* Footer main */
    .ft-main {
      padding: 1.25rem 1.875rem;
      display: flex;
      flex-wrap: wrap;
    }
    @media only screen and (min-width: 29.8125rem /* 477px */) {
      .ft-main {
        justify-content: space-evenly;
      }
    }
    @media only screen and (min-width: 77.5rem /* 1240px */) {
      .ft-main {
        justify-content: space-evenly;
      }
    }
    .ft-main-item {
      padding: 1.25rem;
      min-width: 12.5rem;
    }
    
    /* Footer social */
    .ft-social {
      padding: 0 1.875rem 1.25rem;
    }
    .ft-social-list {
      display: flex;
      justify-content: center;
      border-top: 1px #777 solid;
      padding-top: 1.25rem;
    }
    .ft-social-list li {
      margin: 0.5rem;
      font-size: 1.25rem;
    }
    /* Footer legal */
    .ft-legal {
      padding: 0.9375rem 1.875rem;
      background-color: #333;
    }
    .ft-legal-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .ft-legal-list li {
      margin: 0.125rem 0.625rem;
      white-space: nowrap;
    }
    /* one before the last child */
    .ft-legal-list li:nth-last-child(2) {
        flex: 1;
    }</style>