---
---
<script>console.log('%cStop!', 'color: red; font-size: 30px; font-weight: bold;');console.log("This is a browser feature intended for developers. If someone told you to copy-paste something here to enable a feature, it is a scam.");console.log("For more information go to: https://en.wikipedia.org/wiki/Self-XSS")</script>
<link rel="stylesheet" href="https://static.nordicgamelab.org/bootstrap.css">
<script src="https://static.nordicgamelab.org/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" id="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" id="navbar-brand" href="https://link.nordicgamelab.org/GrX"><img src="https://res.cloudinary.com/dkbe3sbtu/image/upload/v1730331353/Logos/nordic-game-lab_wkmnk3.png" alt="Nordic Game Lab, Empowering Innovation, Transforming Futures" width="180" height="45"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/learnhub">LearnHub</a>
                </li>
            </ul>
      </div>
    </div>
</nav>