---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Nordic Game Lab LLC is a small software development company. Founded by Andrew Ball, a software developer who wanted to provide affordable software solutions, Nordic Game Lab aims to deliver high-quality web experiences using Bootstrap." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<link rel="stylesheet" href="https://static.nordicgamelab.org/bootstrap.css">
        <script src="https://static.nordicgamelab.org/bootstrap.bundle.min.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<body>
			<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" id="navbar">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" id="navbar-brand" href="https://link.nordicgamelab.org/GrX">Nordic Game Lab</a>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#contact">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://accounts.nordicgamelab.org">Account</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/learnhub">LearnHub</a>
							</li>
						</ul>
				  </div>
				</div>
			</nav>
		<slot />
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div class="linksOnFotter">
							<a target="_blank" href="https://betteruptime.com?ref=nordicgamelab.org"><img style="width: 130px; height: 52px;" alt="Better Uptime Website Monitoring" src="https://betteruptime.com/assets/static_assets/badges/dark.png" /></a>
							<a id="privacy" class="footer-links" href="https://policies.nordicgamelab.org/privacy"> Privacy policy</a>
							<a class="footer-links" href="https://policies.nordicgamelab.org/terms"> Terms of Service </a>
							<a id="sitemap" class="footer-links" href="/sitemap.xml"> Sitemap </a>
							<a class="footer-links" href="https://blog.nordicgamelab.org"> Blog </a>
							<a class="footer-links" href="https://docs.nordicgamelab.org"> Documentation </a>
							<a class="footer-links" href="https://help.nordicgamelab.org"> Help </a>
							<a class="footer-links" href="https://brandfetch.com/nordicgamelab.org"> Brand assets</a>
							<a class="footer-links" href="https://learnhub.nordicgamelab.org"> LearnHub</a>
							<a class="footer-links" href="https://status.nordicgamelab.org"> Status</a>
							<a class="footer-links" href="https://nordicgamelab.zohorecruit.com/careers"> Careers </a>
							<a class="footer-links" href="#" id="open_preferences_center"> 
								<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14" xml:space="preserve" height="16" width="43">
									<title>Your Privacy Choices Opt-Out Icon</title>
									<path d="M7.4 12.8h6.8l3.1-11.6H7.4C4.2 1.2 1.6 3.8 1.6 7s2.6 5.8 5.8 5.8z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#fff"></path>
									<path d="M22.6 0H7.4c-3.9 0-7 3.1-7 7s3.1 7 7 7h15.2c3.9 0 7-3.1 7-7s-3.2-7-7-7zm-21 7c0-3.2 2.6-5.8 5.8-5.8h9.9l-3.1 11.6H7.4c-3.2 0-5.8-2.6-5.8-5.8z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#06f"></path>
									<path d="M24.6 4c.2.2.2.6 0 .8L22.5 7l2.2 2.2c.2.2.2.6 0 .8-.2.2-.6.2-.8 0l-2.2-2.2-2.2 2.2c-.2.2-.6.2-.8 0-.2-.2-.2-.6 0-.8L20.8 7l-2.2-2.2c-.2-.2-.2-.6 0-.8.2-.2.6-.2.8 0l2.2 2.2L23.8 4c.2-.2.6-.2.8 0z" style="fill:#fff"></path>
									<path d="M12.7 4.1c.2.2.3.6.1.8L8.6 9.8c-.1.1-.2.2-.3.2-.2.1-.5.1-.7-.1L5.4 7.7c-.2-.2-.2-.6 0-.8.2-.2.6-.2.8 0L8 8.6l3.8-4.5c.2-.2.6-.2.9 0z" style="fill:#06f"></path>
								</svg> 
							Update cookies preferences</a>
						</div>
						<p id="copyright">© {new Date().getFullYear()} Nordic Game Lab, LLC. All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
    /* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
	
	background: url(/images/bg1.jpg) no-repeat top center;
}

#intro.intro {
	padding:20% 0 0 0;
}

.intro .slogan {
	text-align: center;

}

.intro .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
}

/* ===========================
--- Contact
============================ */

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  border-color: #67b0d1;
}

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.widget-contact {
	text-align: left;
}


.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: left;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}

/* footer */
.footer-links {
    color: #fff;
}

.linksOnFotter a + a {
    margin-left: 10px;
}

.companySocial li {
    background: none;
}

a,.tp-caption a.btn:hover {
  color: #67b0d1;
}
.top-nav-collapse {
  background: #67b0d1;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  color: #67b0d1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #67b0d1;
}

.widget-avatar .avatar:hover {
    border: 5px solid #67b0d1;
}

.bg-skin {
  background: #67b0d1;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  border-color: #67b0d1;
}

footer {
    background-color: #67b0d1;
}

.btn-skin {
  color: #fff;
  background-color: #67b0d1;
  border-color: #67b0d1;
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
	
}

.navbar-brand {
    font-weight: 700;
}
.navbar-brand {
  height: 40px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 1em;
}

.navbar-brand h1{
	color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}


.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: #444;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
	  border-radius: 0;	
}

.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

/* ===========================
--- About
============================ */

.boxed-grey {
	background: #f9f9f9;
	padding: 20px;
}

.team h5 {
	margin-bottom: 10px;
}

.team p.subtitle {
	margin-bottom: 10px;
}

.avatar {
	margin-bottom: 20px;
}

.team-social {
	margin-left: 0;
	padding-left: 0;
	
}

.team-social {
	text-align: center;
}

.team-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.team-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
}
.team-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.team-social .social-facebook a{background: #3873ae;}
.team-social .social-twitter a{background: #62c6f8;}
.team-social .social-dribble a{background: #d74980;}
.team-social .social-deviantart a{background: #8da356;}
.team-social .social-google a{background: #000;}
.team-social .social-vimeo a{background: #51a6d3;}
.team-social .social-facebook a:hover{background: #4893ce;}
.team-social .social-twitter a:hover{background: #82e6ff;}
.team-social .social-dribble a:hover{background: #f769a0;}
.team-social .social-deviantart a:hover{background: #adc376;}
.team-social .social-google a:hover{background: #333;}
.team-social .social-vimeo a:hover{background: #71c6f3;}

</style>